img {
  height: 400px;
  width: 599px;
  border-radius: 35px;
  object-fit: contain;
}

body {
  background-image: url(https://images.unsplash.com/photo-1575193732634-ca81bbcc3150?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  background-color: brown;
  color: black;
  height: 400px;
  width: 508px;
  border-radius: 35px;
}

#navbar {
  background-color: black;
  color: white;
  height: fit-content;
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
}

#box {
  background-color: brown;
  color: white;
  text-align: justify;
  padding: 15px;
  border: 3px solid whitesmoke;
  margin: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-style: oblique;
  text-decoration: wavy;
  letter-spacing: 1px;
  word-spacing: 1px;
  line-height: 16px;
}
#box-container {
  background: white;
  padding: 30px;
}
.box1 {
  background-color: brown;
  height: 300px;
  width: 300px;
}
.box2 {
  background-color: blue;
  height: 300px;
  width: 300px;
  /* display: none; */
  visibility: hidden;
}
.box3 {
  background-color: yellow;
  height: 300px;
  width: 300px;
}

#inline > p {
  color: yellow;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  display: inline; /* this will make the elements inline. P tag elements are naturally block level elements */
}

#block > a {
  color: orangered;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  display: block;
}

#inline-block > span {
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  display: inline-block;
  width: 150px;
  height: 135px;
}

.inputField {
  position: relative;
  color: black;
}

.inputField input {
  width: 93%;
  height: 40px;
  font-size: 16px;
  border: none;
  outline: none;
  padding: 14px;
  border: 2px solid #ccc;
}

.inputField input:focus {
  box-shadow: none;
  border-color: transparent;
}

.inputField input ~ .firstSpan:before,
.inputField input ~ .firstSpan:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: 0.8s;
}

.inputField input ~ .firstSpan:after {
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
}

.inputField input ~ .firstSpan .secondSpan:before,
.inputField input ~ .firstSpan .secondSpan:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 0;
  background-color: #000;
  transition: 0.8s;
}

.inputField input ~ .firstSpan .secondSpan:after {
  left: auto;
  right: 0;
  top: auto;
  bottom: 0;
}

.inputField
  input:focus
  ~ .firstSpan:before
  .inputField
  input:focus
  ~ .firstSpan:after {
  width: 100%;
  transition: 0.8s;
}

.inputField input:focus ~ .firstSpan .secondSpan:before,
.inputField input:focus ~ .firstSpan .secondSpan:after {
  height: 100%;
  transition: 0.8s;
}
